* {
  margin: 0;
  padding: 0;
}

#search {
  width: 400px;
  border-radius: 6px;
}

#search-button {
  border-radius: 6px;
}

.container-result {
  margin-top: 20px;
  padding: 50px;
  width: 650px;
}

.word-of-the-day {
  margin-right: 100px;
  padding-left: 50px;
}

.search-history {
  cursor: pointer;
}

.search-history ul {
  cursor: pointer;
  font-style: italic;
}

@media screen and (max-width: 800px) {
  .search-history {
    display: none;
  }

  #search {
    width: 200px;
  }

  .container-result {
    justify-content: center;
    width: 500px;
    word-wrap: normal;
    align-content: center;
  }

  .word-of-the-day {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  #search {
    width: 300px;
  }
  
  .container-result {
    justify-content: center;
  }

}

@media screen and (max-width: 460px) {
  .container-result {

    width: auto;
    padding: 0px;
    margin: 0px;
  }

  #search {
    width: auto;
  }
}